<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
    <link href="/stylesheets/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <img class="mb-4" src="/logo.svg" alt="" width="100" height="100">
      <h1 class="h3 mb-3 fw-normal">Administrator Login</h1>
      <% if (messages.error) { %>
      <p style="color:red"><%- messages.error %></p>
      <% } %>
      <% if (messages.success) { %>
      <p style="color:green"><%- messages.success %></p>
      <% } %>
      <form action="/admin/authentication" method="post" name="form1">
        <div class="form-floating">
          <input type="text" name="userID" class="form-control" id="inputAdminID" placeholder="ID">
          <label for="inputAdminID">ID</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="inputAdminPW" placeholder="PW">
          <label for="inputAdminPW">PW</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
      </form>
    </main>
  </body>
</html>