<div class="bg-dark mt-5">
  <div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5">
      <div class="col mb-3">
        <a href="/auth" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <img class="bi me-2" src="/logo.svg" width="50" height="50"></img>
        </a>
        <p style="color: rgb(255, 255, 255);">2022-1 Kwangwoon Univ.</p>
        <p style="color: rgb(255, 255, 255);">Computer and Information Eng.</p>
        <p style="color: rgb(255, 255, 255);">SW Engineering Team-8</p>
      </div>
      <div class="col mb-3">
      </div>
      <div class="col mb-3">
      </div>
      <div class="col mb-3">
      </div>
      <div class="col mb-3">
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="/auth" class="nav-link p-0" style="color: rgb(255, 255, 255);">Home</a></li>
          <li class="nav-item mb-2"><a href="/auth/contact" class="nav-link p-0" style="color: rgb(255, 255, 255);">Contact us</a></li>
          <li class="nav-item mb-2"><a href="https://github.com/swengineering-team8/O_car" class="nav-link p-0" style="color: rgb(255, 255, 255);">About</a></li>
        </ul>
      </div>
    </footer>
  </div>
</div>
