<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title><%= title %></title>
    <script src="/javascripts/jquery-3.6.0.min.js"></script>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <link href="/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin w-100 m-auto">
      <img class="mb-4" src="/logo.svg" alt="" width="100" height="100">
      <h1 class="h3 mb-3 fw-normal">Login Page</h1>
      <% if (messages.error) { %>
      <p style="color:red"><%- messages.error %></p>
      <% } %>
      <% if (messages.success) { %>
      <p style="color:green"><%- messages.success %></p>
      <% } %>
      <form action="/auth/authentication" method="post" name="form1">
        <div class="form-floating">
          <input type="text" name="userID" class="form-control" id="inputID" placeholder="ID">
          <label for="inputID">ID</label>
        </div>
        <div class="form-floating">
          <input type="password" name="password" class="form-control" id="inputPW" placeholder="PW">
          <label for="inputPW">PW</label>
        </div>
        <input class="w-100 btn btn-lg btn-primary mb-3" type="submit" value="로그인"></input>
        <a href="/auth/register" class="btn btn-success">회원가입</a>
      </form>
    </main>
  </body>
</html>