<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/auth"><img src="/logo.svg" alt="" width="50" height="50"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" href="/auth/sell-list">구입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/auth/sell">판매</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/auth/contact">문의하기</a>
          </li>
        </ul>
        <form action="/auth/search" class="d-flex" role="search">
          <input class="form-control me-2" type="search" name="title" placeholder="모델명" aria-label="Search">
          <button class="btn btn-outline-success me-2" type="submit">Search</button>
        </form>
        <a href="/auth/car-list/<%= user_id %>" class="nav-link me-2" style="color: rgb(226, 226, 168);">등록 조회 | </a>
        <a href="/auth/detail/user/<%= name %>" class="nav-link me-2" style="color: rgb(226, 226, 168);"><%= name %> 접속 중</a>
        <a href="/" class="btn btn-success">Logout</a>
      </div>
    </div>
  </nav>
</header>